# Database files & folders
database/
enrollment/
delete/
*.db
*.sqlite3
attendance.db

# Virtual Environment
venv/
.venv/
env/

# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# InsightFace Models & ONNX
*.onnx
.insightface/
models/

# VS Code & OS temporary files
.vscode/
.idea/
.DS_Store
Thumbs.db